body {
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.p1 {
    color: hsl(150, 100%, 66%);
}

.p2 {
    color: hsl(193, 38%, 86%);
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.div1 {
    background-color: hsl(217, 19%, 25%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 200px;
    width: 300px;
    border-radius: 20px;








}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;


}

.img1 {
    margin-bottom: 20px;
    width: 300px;
}

.dice {
    margin-bottom: -50px;
    background-color: hsl(150, 100%, 66%);
    padding: 10px;

    border-radius: 20%;
}

.dice:hover {
    box-shadow: 5px 1px 50px 5px hsl(150, 100%, 66%);
    cursor: pointer;
}